.two-inputs-form-buildings>input {
  background-color: #F4F4F4;
}

.inputs-form-buildings>div>label, .building_building_type>legend, .building_category>legend {
  font-size: 18px;
  font-weight: 600;
}

.container-inputs-left {
  width: 402px;
}

.container-inputs-right {
  width: 318px;
}


// INPUT - TYPE DE TRAVAUX

