.info-homepage {
  display: flex;
  justify-content: center;
  padding-top: 175px;
}

// .row {
//
// }

.btn-homepage {
  display: flex;
  justify-content: space-between;
  width: 305px;
  height: 50px;
  font-weight: 500;
  background-color: #20D3B0;
  color: white;
  margin-top: 40px;
  padding-inline: 22px;
  padding-block: 13px;
  border-radius: 18px;
}

.btn-homepage>a {
  color: white;
  font-size: 16px;
  padding-block: 1px;
}

.h1-homepage {
  font-weight: 600;
  font-size: 48px;
}

.h2-homepage {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}

.text-banner {
  font-weight: 400;
  font-size: 18px;
}
