.img-preambule {
  background: #8E8E93;
  border-radius: 18px;
  width: 364px;
  height: 364px;
}

.container-text-preambule {
  width: 366px;
  padding-top: 70px;

  h1 {
    font-size: 32px;
  }
}

.main-card-form-preambule {
  padding-inline: 65px;
  padding-block: 95px;
}

