.card-manufacturer {
  background: white;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.5);
  border-radius: 45px;
  width: 227px;
  margin-inline: 10px;
  padding-block: 30px;
  padding-inline: 20px;
  min-height: 455px;
}

.h2-center-card-manufacturer {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}

.address-card-manufacturer {
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 5px;
}

.cards-manufacturers {
  padding-top: 20px;
}

.btn-card-manufacturer {
  display: flex;
  margin-inline: 10px;
  padding: 12px 44px;
}

.materials-manufacturer {
  padding-top: 10px;
  padding-inline: 10px;

  p {
    font-size: 14px;
    line-height: 10px;
  }

  hr {
    border: 0px solid transparent;
  }
}
