.card-manufacturer {
  background: white;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.5);
  border-radius: 45px;
  width: 227px;
  margin-inline: 10px;
  padding-block: 30px;
  padding-inline: 20px;
  min-height: 390px;
  flex-direction: column;
  // min-height: 455px;

  h3 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
  }
}


.h2-center-card-manufacturer {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}

.address-card-manufacturer {
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 5px;
}

.cards-manufacturers {
  padding-top: 20px;
}

.brand-img {
  height: 50px;
  object-fit: cover;
  margin-bottom: 1em;
}

.brand-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* Ensures the image is centered vertically */
  margin: auto;
  /* Centers the image horizontally */
}

.btn-card-manufacturer {
  display: flex;
  padding: 12px;
  justify-content: center;
  position: absolute;
  top: 582px;
  // bottom:30px;
  width: 188px;
  margin-top: 30px;
}

.materials-manufacturer {
  padding-top: 10px;
  padding-inline: 10px;
  padding-bottom: 30px;

  p {
    font-size: 15px;
    line-height: 10px;
    padding-right: 5px;
  }

  hr {
    border: 0px solid transparent;
  }
}

.materials-manufacturer-pic {
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1.3em;

  h3 {
    padding-bottom: 0px;
  }
}

.tooltip-dn-manufacturer {
  position: initial;
  color: #20D3B0;
  font-size: 12px;
  margin-top: -2px;
}
