.img-preambule {
  background-image: image-url('puits-canadien3.png');
  content: "";
  height: 343px;
  width: 364px;
  display: block;
  background-size: cover;
  margin: auto;
  margin-right:0;
  background-position: center;
  background-repeat: no-repeat;
  // background: #8E8E93;
  // border-radius: 18px;
  // width: 364px;
  // height: 364px;
}

.container-text-preambule {
  width: 385px;
  padding-top: 48px;

  h1 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 5px;
  }
}

.main-card-form-preambule {
  padding-inline: 65px;
  padding-block: 95px;
}

.project_name>label {
  display: none;
}

.project_name>input {
  width: 261px;
  height: 51px;
  border-radius: 18px;
  border: none;
  margin-right: 5px;
}

.btn-submit-create-project {
  // width: 102px;
  height: 51px;
  border-radius: 18px;

}

.new_project {
  display: flex;
  padding-top: 10px;
}
