.dashboard-container{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-all{
  display: flex;
  justify-content: space-between;
}

.project-card{
  border: solid black;
}
.card-project-top{
  display: flex;
  p{
    margin-bottom: 0rem;
  }
}
.border-solid{
  border: thin 3px black;
}
