
.ground:has(.ground-selector:checked){
  border: solid 2px #20D3B0;
}

.ground-selector{
  display: none;
}

.ground-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ground {
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.12);
  border: solid 2px white;
  margin: 10px;
  justify-content: space-between;
  padding: 15px;
  border-radius: 26px;
  height: 141px;
}
.ground-infos{
  text-align: center;
  height: 120px;
  width: auto;
  padding-right: 6%;
  padding-bottom: 1px;
  p{
    padding-top: 5px;
    font-size: 10px;
    margin-bottom: 1px;
    line-height: 10px;
  }
  strong{
    font-size: 10px;
  }

}

.ground-img{
  text-align: center;
  font-size: 10px;
}

.card-project{
  padding: 20px;
}
