

.ground-selector:checked + .ground-infos {
  /* Styles pour la div .ground-infos lorsqu'elle est précédée d'un input radio coché */
  color: red !important;
}


.ground-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ground {
  box-shadow: 1px 4px 15px rgb(42, 41, 41);
  margin: 10px;
  justify-content: space-between;
  padding: 15px;
  border-radius: 26px;
  height: 131px;
}
.ground-infos{
  text-align: center;
  height: 120px;
  p{
    padding-top: 5px;
    margin: 0px;
    font-size: 10px;
    margin-bottom: 1px;
    line-height: 10px;
  }

}
.ground-infos{
  text-align: center;
  font-size: 10px;
  padding-right: 50px;
}
.ground-img{
  text-align: center;
  font-size: 10px;
  padding-right: 50px;
}
