.h1-center {
  display: flex;
  justify-content: center;
  padding-top: 42px;
  padding-bottom: 35px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container .top {
  margin-bottom: 15px;
  justify-content: space-between;
}


.container-cards-results {
  padding-bottom: 35px;
  align-items: center;
}

.result-pipe {
  border-radius: 50%;
}

.first-results-card {
  background: #FFFFFF;
  border: 3px solid #20D3B0;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  width: 260px;
  // height: 494px;
  padding: 30px 30px;
}

.results-card {
  background: #FFFFFF;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  width: 250px;
  // height: 455px;
  top: 264px;
  padding: 25px;
}

.circle-number {
  width: 35px;
  height: 35px;
  padding: 2px;
  background-color: #E9FBF8;
  border-radius: 50%;
  justify-content: center;

  margin: auto;
  margin-block: 10px;
  align-items: center;

  p {
    margin: 0px;
    color: #20D3B0;
    font-size: large;
  }
}

.first-results-container {
  padding-inline: 23px;
}

.results-container {
  padding-top: 15px;
  margin-inline: 15px;
}

.results-container-1 {
  order: 2;

  .circle-number {
    background-color: #20D3B0;
    p {
      color: white;
    }
  }

}

.results-container-2 {
  order: 1;
}

.results-container-3 {
  order: 3;
}

.btn-save {
  display: flex;
  justify-content: center;
  border: 2px solid #000000;
  border-radius: 18px;
  align-items: center;
  padding: 20px 35px 20px 35px;
  width: 267px;
  justify-content: space-between;
}

.btn-save>a {
  font-size: 15px;
  color: black;
  font-weight: 500;
}


.title-result {
  padding-left: 25px;
}

.btn-card-result {
  display: flex;
  justify-content: center;
  background-color: #20D3B0;
  border-radius: 18px;
  padding: 15px 35px 15px 35px;
}

.btn-card-result>a {
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 22px;
}

.align-item {
  display: flex;
  justify-content: space-between;
}

.link-premium>a {
  font-size: 12px;
  color: #8E8E93;
}

.label-card {
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

.response-card {
  font-size: 15px;
  font-weight: 600;
  color: black;
  line-height: 15px;
}

.links-premium {
  padding-bottom: 33px;
}

#first-link-premium {
  padding-bottom: 15px;
}

.h2-card-result {
  font-size: 22px;
  font-weight: 600;
}

.pipe-type {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.h2-center-results {
  display: flex;
  justify-content: center;
  color: #8E8E93;
  font-weight: 400;
  font-size: 23px;
  padding-bottom: 45px;
  margin-top: -25px;
}

.h2-infos-risques {
  padding-top: 100px;
}
