.h1-center {
  display: flex;
  justify-content: center;
  padding-top: 42px;
  padding-bottom: 35px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container .top {
  margin-bottom: 15px;
  justify-content: space-between;
}

.container-cards {
  padding-bottom: 20px;
  align-items: center;


  background: #FFFFFF;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  width: 50vw;
  padding: 1em;
  margin: auto;
  margin-block: 40px;

  font-size: larger;

}

.container-cards-results {
  padding-bottom: 35px;
  align-items: center;
}

.result-pipe {
  border-radius: 50%;
}

.first-results-card {
  background: #FFFFFF;
  border: 3px solid #20D3B0;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.3);
  border-radius: 45px;
  width: 290px;
  // height: 494px;
  padding: 35px 30px;
}

.results-card {
  background: #FFFFFF;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.3);
  border-radius: 45px;
  width: 280px;
  // height: 455px;
  top: 264px;
  padding: 25px;
}

.circle-number {
  width: 35px;
  height: 35px;
  padding: 2px;
  background-color: #E9FBF8;
  border-radius: 50%;
  justify-content: center;

  margin: auto;
  margin-block: 10px;
  align-items: center;

  p {
    margin: 0px;
    color: #20D3B0;
    font-size: large;
  }
}

.first-results-container {
  padding-inline: 23px;
}

.results-container {
  padding-top: 15px;
  margin-inline: 15px;
}

.results-container-1 {
  order: 2;

  .circle-number {
    background-color: #20D3B0;

    p {
      color: white;
    }
  }

}

.results-container-2 {
  order: 1;
}

.results-container-3 {
  order: 3;
}

.btn-save {
  background: white;
  display: flex;
  justify-content: center;
  border: 2.5px solid #000000;
  border-radius: 18px;
  align-items: center;
  padding: 20px 25px 20px 25px;
  width: 280px;
  justify-content: space-between;
}

.btn-save>a {
  font-size: 15px;
  color: black;
  font-weight: 500;
}


.title-result {
  padding-left: 25px;
}

.btn-card-result {
  display: flex;
  justify-content: center;
  background-color: #20D3B0;
  border-radius: 18px;
  padding: 15px 35px 15px 35px;
}

.btn-card-result>a {
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 22px;
}

.align-item {
  display: flex;
  justify-content: space-between;
}

.link-premium>a {
  font-size: 12px;
  color: #8E8E93;
}

.label-card {
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

.response-card {
  font-size: 15px;
  font-weight: 600;
  color: black;
  line-height: 15px;
}

.links-premium {
  padding-bottom: 33px;
}

#first-link-premium {
  padding-bottom: 15px;
}

.h2-card-result {
  font-size: 22px;
  font-weight: 600;
}

.pipe-type {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.h2-center-results {
  display: flex;
  justify-content: center;
  color: #8E8E93;
  font-weight: 400;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: -20px;
}

.h2-infos-risques {
  padding-top: 50px;
  font-size: 26px;
  line-height: 35px;
}

.container-risks {
  padding-top: 40px;
  padding-bottom: 100px;
  padding-right: 20px;

  h3 {
    font-size: 20px;
    padding-top: 10px;
  }
  p{
    font-size: 25px;
  }
}

.container-risk {
  text-align: center;
  padding-inline: 35px;
}

.results-table {
  display: flex;
  justify-content: center;
  width: 75vw;
  background-color: #ffffff;
  border-collapse: collapse;
  table-layout: auto;
  margin: 20px auto;
  font-size: 0.9em;
  // font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.results-table thead tr {
  background-color: #47bca4;
  color: #ffffff;
  text-align: left;
}

.results-table th,
.results-table td {
  padding: 12px 15px;
}

.results-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.results-table tbody tr:nth-of-type(even) {
  background-color: #cfcfcf;
}

.results-table tbody tr:last-of-type {
  border-bottom: 2px solid #47bca4;
}
