.card-container-log-in {
  width: 626px;
  height: 526px;
  background: #FFFFFF;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  padding: 35px 103px 0px 103px;
  margin-top: 78px;
}

.btn-submit-sign-in>input {
  border-radius: 18px;
  height: 50px;
  padding-inline: 20px;
}
