<h1>Résultats</h1>

<div class="container flex-container">

  <div class="results-container">
  </div>

  <div class="first-results-container">
    <h2>FONTE</h2>
      <p>DN-300</p>
      <p>Nbr de branches</p>
      <p>Vitesse max</p>
      <p>Longueur unitaire</p>
      <p>Longueur totale</p>
      <p>Surface au sol</p>
      <hr>
      <div>
        <%= link_to 'Exporter en PDF', root_path %>
      </div>
      <div>
        <%= link_to 'Performances annuelles', root_path %>
      </div>
      <div>
        <%= link_to 'Contacter le fabricant', root_path %>
      </div>

  </div>

  <div class="results-container">
  </div>

</div>
