<div class="container">

  <div class="info-homepage row">
    <div class="col-5">
      <h1>Découvrez le puits canadien !</h1>
      <p class="under-title">Faites des économies d’énergies tout en restant au frais !</p>
      <p class="little-p">Les puits climatiques sont des systèmes renouvelables de ventilation qui captent l'énergie du sol pour vous rafraîchir en été et vous réchauffer en hiver !</p>
      <div class="btn-homepage">
        <%= link_to 'Démarrez votre étude', new_project_path %>
        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23.9165 12H6.99984M23.9165 12L16.6665 19M23.9165 12L16.6665 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <div class="col-4">
      <%= image_tag "maison.png", alt: "Le Wagon", width: 420 %>
    </div>
  </div>

</div>
