<div class="container">

  <%= render "shared/progress_bar" %>

  <div class="flex-container">

    <div class="main-card-form main-card-form-preambule align-item">

      <div class="container-text-preambule">
        <h1>Préambule</h1>
        <p>Les puits climatiques sont des systèmes renouvelables de ventilation  qui captent l'énergie du sol pour vous rafraîchir en été et vous réchauffer en hiver !</p>
        <%= simple_form_for(@project) do |f| %>
          <%= f.input :name %> 
          <%= f.submit %>
        <% end %>
      </div>

      <div class="img-preambule">
        <%# TODO : IMAGE %>
      </div>

    </div>

  </div>

</div>
