<div class="container">

  <%= render "shared/progress_bar/step1_progress_bar" %>

  <div class="flex-container">
  <%# <div class="container flex"> %>

    <div class="main-card-form main-card-form-preambule align-item">

      <div class="container-text-preambule">
        <h1>Vous souhaitez installer <br>
        un puits climatique ?</h1>
        <p> En moins de 3min, Geocool vous aide à dimensionner un puits climatique adapté à votre projet de construction ou de rénovation et à évaluer ses performances. </p>
        <%= simple_form_for(@project) do |f| %>
          <%= f.input :name, label: "Nouveau projet", placeholder: "Nom du projet", class: "input-label" %>
          <%= f.submit  "Créer !", class:"btn d-flex btn-submit-create-project" %>
        <% end %>
      </div>

      <div class="img-preambule">
        <%# TODO : IMAGE %>
      </div>

    </div>

  </div>

</div>
