<div class="flex-container">
  <div class="progress_bar">
    <div class="progressbar-wrapper">
      <ul class="progressbar">
          <li class="active">INTRO</li>
          <li class="active">BÂTIMENT</li>
          <li class="active">SOL</li>
          <li>RÉSULTAT</li>
      </ul>
    </div>

  </div>
</div>
