.btn {
  color: white;
  padding: 8px 21px;
  border-radius: 4px;
  background: #20D3B0;
  transition: background 0.3s ease;
  height: 50px;
  border-radius: 18px;
}

.btn:hover {
  background: #0bbb98;
  color: white;
}

.btn-next {
  width: 51px;
  height: 51px;
  border-radius: 18px;
  margin-top: 235px;
  margin-left: 30px;
}

.btn-center {
  text-align: center;
}
