.main-card-form {
  background: #FFFFFF;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  width: 931px;
  height: 549px;
}

.main-card-form-preambule {
  padding-inline: 65px;
  padding-block: 95px;
}

.img-preambule {
  background: #8E8E93;
  border-radius: 18px;
  width: 364px;
  height: 364px;
}

.container-text-preambule {
  width: 366px;
  padding-top: 70px;

  h1 {
    font-size: 32px;
  }
}
