.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.brand {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 25px;
}

.collapse{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 45px;
}
