.barre{
  display: flex;
  border: 2px solid black;
  width: 100px;
}

.elipse{
  border: 1px solid black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.barre-1{
  display: flex;
  border: 2px solid green;
  width: 100px;
}
.barre-2{
  display: flex;
  border: 2px solid purple;
  width: 100px;
}
.barre-3{
  display: flex;
  border: 2px solid blue;
  width: 100px;
}
// #F4F4F4
