<div class="container">

  <h3 class="text-center">Le guide</h3>
  <div class="guide-container">
  <div class="card-sol d-flex">
    <div class="img-guide">
    <%= image_tag "guide_sol.png", alt:"type de sol" %>
    </div>
    <div>
      <p>Quels est votre type de sol ?</p>
      <p>Détails</p>
    </div>
  </div>


  </div>


</div>
<div>

</div>
